# Ignore environment variables
.env

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore SQLite database file
db.sqlite3

# Ignore virtual environments
venv/

# Ignore static files collected by collectstatic
static/

# Ignore IDE-specific files
.vscode/
.idea/